header h1{
 text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

header{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  background-color: rgb(75, 75, 224);
  color: white;
}


.nav {
  display: flex;
  justify-content: space-evenly;
}


.nav ul {
  display: flex;
  list-style-type: none;
  padding-left:0px;
  gap: 10px;
  padding: 10px;
  margin:0;
  padding-top: 0%;
}


.nav ul li{
  padding: 10px;
  font-family: 'AmstelvarAlpha';
}


.nav ul li a {
  color:black;
  text-decoration: none;
  padding: 1em 2em 1em 2em;
  display:inline-block;
  border-radius: 5px;
}


.nav ul li :hover{
  background-color: rgb(214, 39, 39);
  color: rgb(202, 206, 245);
}


/*--------------index------------------------*/


body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(white,#9198e5,white);
    height: 100%;
    margin: 0%;
    padding: 0%;
  }


.index h1,p,nav{
  color: black;
}
.index nav ul{
  border-bottom: 2px solid rgb(214, 39, 39); 
}



.index main{
  display: flex;
  padding: 100px;
  height: 300px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.index .accroche {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(214, 39, 39);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.index .accroche h1 {
  color: rgb(214, 39, 39);
}

.index .contact {
  text-align: center;
  position: absolute;
  bottom: 20px; /* Adjust this value as needed */
}

.index .contact div {
  margin-bottom: 10px;
}

.index .contact img {
  vertical-align: middle;
  margin-right: 10px;
}

.index .contact a {
  text-decoration: none;
  color: black;
  font-size: large;
}

.index main section{
  display: flex;
  align-items: center;
}
.index .contact{
  padding-top: 30%;
  display : flex;
  flex-direction:column;
  align-items:center;
}

.index .contact p{
  margin: 3%;
  font-size:small
}


.index h1{
  color: rgb(214, 39, 39);;
}

.index h1, .index p{
  font-size:x-large
}

#linkedin,#phone {
  padding-right: 80px;  
}
/*--------------hardskills------------*/

.hardSkills main section {
  
  border: 3px solid rgb(75, 75, 224);
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  width: 1400px;
  display: inline-block; /* Affiche les sections en ligne */
  

}

.hardSkills main h2 {
  font-size: 1.5em;
  color: #333;
  border-bottom: 2px solid rgb(75, 75, 224);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.hardSkills .skills {
  display: flex;
  flex-wrap: nowrap; /* Empêche le retour à la ligne des éléments flexibles */
  gap: 10px; /* Espacement entre les images */
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
}
.hardSkills img{  
  padding: 2%;
  padding-left: 10%;
  width:200px;
  height : 150px;
}



/*--------------softskills------------*/

.softSkills main{
  display: flex;
  flex-direction: row;
}

.softSkills main section{
  border: 3px solid rgb(75, 75, 224);
  padding: 2%;
  margin: 2%;
  border-radius :10px;
  width: 300px;
}

.softSkills h1{
  padding-left: 3%;
}

/*-------------ppp--------------*/
.ppp main {
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  height: 100vh; /* Utilise toute la hauteur de la vue */
}

.ppp main section {
  border: 3px solid rgb(75, 75, 224);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%; /* Limite la largeur maximale à 90% de la largeur disponible */
  
}

/*-----------Projets---------------*/
.projets h2 { 
  color: rgb(75, 75, 224);
}

.projets main {
  display: flex;
  flex-wrap: wrap; /* Permet aux sections de passer à la ligne suivante quand elles ne rentrent pas */
  justify-content: space-between; /* Répartit les sections sur la ligne */
}

/* .projets main section représente chaque section de projet */
.projets main section {
  width: calc(33.33% - 4%); /* Calcul de la largeur pour que trois sections tiennent sur une ligne avec un petit espace entre elles */
  border: 3px solid rgb(75, 75, 224);
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  box-sizing: border-box; /* S'assure que la largeur inclut les bordures et les marges */
}

/* Style pour les images à l'intérieur des sections */
.projets main section img {
  
  height : 200px;
  width : 250px;
  padding-left: 50px;

}

/* Les styles ci-dessous ajustent le texte à l'intérieur des sections */
.projets h3 {
  padding-left: 3%;
}

.projets p {
  padding: 2%;
  padding-bottom: 0%;
  margin-bottom: 0; /* Supprime le margin-bottom par défaut des paragraphes */
}

#ez-stage,#dahu {
  height : 300px !important;
  width: 150px !important;
}

/*--------------sport------------------------*/
.sport-main {
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: flex-start; /* Aligne les éléments en haut verticalement */
}

.sport-description {
  flex: 1; /* Utilise l'espace disponible */
  border: 3px solid rgb(75, 75, 224);
  padding: 2%;
  margin: 2%;
  border-radius: 10px;
  box-sizing: border-box;
}

.sport-image {
  padding-top: 50px;
  
 
  flex: 1; /* Utilise l'espace disponible */
  display: flex;
  justify-content: center; /* Centre l'image horizontalement */
  align-items: center; /* Centre l'image verticalement */
}

.sport-image img {
  width: 80%; /* Utilise 100% de la largeur de la section */
  height: auto; /* Ajuste automatiquement la hauteur en fonction de la largeur */
  max-height: 400px; /* Limite la hauteur maximale de l'image */
  border-radius: 10px; /* Arrondi les coins de l'image si nécessaire */
}














